<div class="intro">
    <h1>On Mastodon</h1>
    <p>
        Discover major news sources, on a libre social network!
    </p>
    <a href="https://gitlab.com/WzukW/onmastodon-code/commits/master"><img alt="build status" src="https://gitlab.com/WzukW/onmastodon-code/badges/master/build.svg" /></a>
    <a href="/about"><img alt="Apache 2.0 licensed" src="https://img.shields.io/github/license/leowzukw/onmastodon.svg" /></a>
    <a href="https://mamot.fr/@onmastodon"><img alt="Mastodon profile: @onmastodon@mamot.fr" src="https://img.shields.io/badge/mastodon-@onmastodon@mamot.fr-lightgrey.svg" /></a>
    <a href="https://mamot.fr/tags/onmastodon"><img alt="Hashtag" src="https://img.shields.io/badge/mastodon-%23OnMastodon-green.svg" /></a>
</div>

<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/lists/lang-en.html" class="pure-menu-link">In English</a></li>
        <li class="pure-menu-item"><a href="/lists/lang-fr.html" class="pure-menu-link">In French</a></li>
    </ul>
</div>

<div class="pure-g">
    <%= render '/listing.*', :items => db_entries_random_order %>
</div>
